/*Master Styles*/
body {
	font-family: "Lato", sans-serif;
	margin: 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/*Nav Styles*/
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side{
	display: flex;
}

.nav-wrapper > .left-side > div{
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 22px;
	border-bottom: lpx solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}



.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.active-nav-link {
	border-bottom: 1px solid black;
}

.active-nav-link a {
	color: black !important;
}

/*Home Styles*/
.two-column-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
	width: 75%;
	border-radius: 1000px;
	padding: 50px;
	
}
.profile-content-wrapper {
	
	justify-content: space-between;
	padding: 38px;
}

.profile-content-wrapper h1 {
	color: lightseagreen;
}

.resume-left h1 {
	color: lightseagreen;
}

.resume-right h1{
	color: lightseagreen;
}

.resume-left {
	padding-right: 10px;
}

.resume-right {
	padding-left: 10px;
}

.content-wrapper {
	justify-content: space-between;
	padding: 38px;
}


.resume-left h3 {
	color: forestgreen;
}

.resume-right h3{
	color: forestgreen;
}